@model ShoppingCart

<form method="post">
    <input hidden asp-for="ProductId" />@*本次新增部分*@
        <div class="card container mt-5">
            <div class="card-header bg-primary row align-items-center">
                <div class="col-12 col-md-6">
                    <h3 class="text-white mb-0">@Model.Product.Name</h3>
                </div>
                <div class="col-12 col-md-6 text-end">
                    <span class="badge bg-info"><h6 class="mb-0">@Model.Product.Category.Name</h6></span>
                </div>
            </div>
            <div class="card-body row container">
                <div class="container rounded p-2">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-7 col-lg-7">
                            <div class="row">
                                <h5 class="my-2">飲料尺寸：@Model.Product.Size</h5>
                            </div>
                            <div class="row">
                                <h5 class="my-2">飲料價錢：<strike><span class="text-danger fw-bold">@Model.Product.Price.ToString("c")</span></strike></h5>
                            </div>
                            <div class="row text-center text-white mx-0  my-2">
                                <div class="col-3 bg-dark">
                                    <p class="mb-0 py-1">價格</p>
                                </div>
                                <div class="col-3 bg-secondary">
                                    <p class="mb-0 py-1">
                                        @Model.Product.Price.ToString("c")
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <p class="my-2 text-secondary">@Model.Product.Description</p>
                            </div>
                            <div class="row align-items-center mt-3">
                                <div class="col-2 text-primary"><h5 class="mb-0">數量</h5></div>
                                <div class="col-6"><input asp-for="Count" class="form-control"/></div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3 offset-lg-1 text-center">
                            <img src="@Model.Product.Image" width="100%" class="rounded" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer bg-white">
                <div class="row align-items-center">
                    <div class="col-12 col-md-6 pb-1">
                        <a class="btn btn-light form-control text-primary d-flex justify-content-center align-items-center" style="height:50px;" asp-action="Index">返回列表</a>
                    </div>
                    <div class="col-12 col-md-6 pb-1">
                        <button type="submit" value="Add to Cart" class="btn btn-primary form-control" style="height:50px;">加入購物車</button>
                    </div>
                </div>
            </div>
        </div>
</form>